ProjetJavaEE-war/web/WEB-INF/wsdl/localhost_8080/ProjetJEE-war/WSPersonne.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice/">

<xs:element name="count" type="tns:count"/>

<xs:element name="countResponse" type="tns:countResponse"/>

<xs:element name="create" type="tns:create"/>

<xs:element name="edit" type="tns:edit"/>

<xs:element name="find" type="tns:find"/>

<xs:element name="findAll" type="tns:findAll"/>

<xs:element name="findAllResponse" type="tns:findAllResponse"/>

<xs:element name="findPersonneByEmail" type="tns:findPersonneByEmail"/>

<xs:element name="findPersonneByEmailResponse" type="tns:findPersonneByEmailResponse"/>

<xs:element name="findPersonneById" type="tns:findPersonneById"/>

<xs:element name="findPersonneByIdResponse" type="tns:findPersonneByIdResponse"/>

<xs:element name="findPersonneByLoginMdp" type="tns:findPersonneByLoginMdp"/>

<xs:element name="findPersonneByLoginMdpResponse" type="tns:findPersonneByLoginMdpResponse"/>

<xs:element name="findRange" type="tns:findRange"/>

<xs:element name="findRangeResponse" type="tns:findRangeResponse"/>

<xs:element name="findResponse" type="tns:findResponse"/>

<xs:element name="personne" type="tns:personne"/>

<xs:element name="remove" type="tns:remove"/>

<xs:complexType name="findPersonneByEmail">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPersonneByEmailResponse">
<xs:sequence>
<xs:element name="return" type="tns:personne" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="personne">
<xs:sequence>
<xs:element name="anneeInscription" type="xs:int" minOccurs="0"/>
<xs:element name="dateDeNaissance" type="xs:dateTime" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="idpersonne" type="xs:int" minOccurs="0"/>
<xs:element name="login" type="xs:string" minOccurs="0"/>
<xs:element name="membre" type="xs:string" minOccurs="0"/>
<xs:element name="motDePasse" type="xs:string" minOccurs="0"/>
<xs:element name="nom" type="xs:string" minOccurs="0"/>
<xs:element name="prenom" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:personne" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remove">
<xs:sequence>
<xs:element ref="tns:personne" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="count">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPersonneById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPersonneByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:personne" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPersonneByLoginMdp">
<xs:sequence>
<xs:element name="login" type="xs:string" minOccurs="0"/>
<xs:element name="mdp" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPersonneByLoginMdpResponse">
<xs:sequence>
<xs:element name="return" type="tns:personne" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRange">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:personne" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="find">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findResponse">
<xs:sequence>
<xs:element name="return" type="tns:personne" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="create">
<xs:sequence>
<xs:element ref="tns:personne" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="edit">
<xs:sequence>
<xs:element ref="tns:personne" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>