ProjetJavaEE-war/web/WEB-INF/wsdl/localhost_8080/ProjetJEE-war/WSPersonne.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="WSPersonne">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8080/ProjetJEE-war/WSPersonne?xsd=1"/>
</xsd:schema>
</types>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="findPersonneById">
<part name="parameters" element="tns:findPersonneById"/>
</message>
<message name="findPersonneByIdResponse">
<part name="parameters" element="tns:findPersonneByIdResponse"/>
</message>
<message name="findPersonneByEmail">
<part name="parameters" element="tns:findPersonneByEmail"/>
</message>
<message name="findPersonneByEmailResponse">
<part name="parameters" element="tns:findPersonneByEmailResponse"/>
</message>
<message name="findPersonneByLoginMdp">
<part name="parameters" element="tns:findPersonneByLoginMdp"/>
</message>
<message name="findPersonneByLoginMdpResponse">
<part name="parameters" element="tns:findPersonneByLoginMdpResponse"/>
</message>
<portType name="WSPersonne">
<operation name="count">
<input wsam:Action="http://webservice/WSPersonne/countRequest" message="tns:count"/>
<output wsam:Action="http://webservice/WSPersonne/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://webservice/WSPersonne/findRequest" message="tns:find"/>
<output wsam:Action="http://webservice/WSPersonne/findResponse" message="tns:findResponse"/>
</operation>
<operation name="remove">
<input wsam:Action="http://webservice/WSPersonne/remove" message="tns:remove"/>
</operation>
<operation name="create">
<input wsam:Action="http://webservice/WSPersonne/create" message="tns:create"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://webservice/WSPersonne/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://webservice/WSPersonne/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://webservice/WSPersonne/edit" message="tns:edit"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://webservice/WSPersonne/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://webservice/WSPersonne/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="findPersonneById">
<input wsam:Action="http://webservice/WSPersonne/findPersonneByIdRequest" message="tns:findPersonneById"/>
<output wsam:Action="http://webservice/WSPersonne/findPersonneByIdResponse" message="tns:findPersonneByIdResponse"/>
</operation>
<operation name="findPersonneByEmail">
<input wsam:Action="http://webservice/WSPersonne/findPersonneByEmailRequest" message="tns:findPersonneByEmail"/>
<output wsam:Action="http://webservice/WSPersonne/findPersonneByEmailResponse" message="tns:findPersonneByEmailResponse"/>
</operation>
<operation name="findPersonneByLoginMdp">
<input wsam:Action="http://webservice/WSPersonne/findPersonneByLoginMdpRequest" message="tns:findPersonneByLoginMdp"/>
<output wsam:Action="http://webservice/WSPersonne/findPersonneByLoginMdpResponse" message="tns:findPersonneByLoginMdpResponse"/>
</operation>
</portType>
<binding name="WSPersonnePortBinding" type="tns:WSPersonne">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findPersonneById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findPersonneByEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findPersonneByLoginMdp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSPersonne">
<port name="WSPersonnePort" binding="tns:WSPersonnePortBinding">
<soap:address location="http://localhost:8080/ProjetJEE-war/WSPersonne"/>
</port>
</service>
</definitions>